{% extends 'base.html' %}

{% block title %}
Your eco basket
{% endblock title %}

{% block basket %}
<a class="me-3 py-2 text-dark text-decoration-none" href="/basket/{{ costumer_id }}">Basket</a>
{% endblock basket %}

{% block body %}
<h2 class="my-5 container">Your basket</h2>
    <div class="container mt-5">
        {%for product in products%}
            <h4>{{ product.name }}</h4>
            <p>price is ${{ product.price }}</p>
            {%for ord in orders%}
                {%if product.id == ord.product_id%}
                    <p>number: {{ ord.number }}</p>
                {%endif%}
            {% endfor %}
        {% else %}
            <h2 class="my-5 container">is empty :(</h2>
        {% endfor %}
    </div>
{% endblock body %}