{% extends 'base.html' %}

{% block title %}
Your eco basket
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <h1>In your basket</h1>
    <form action="/add-product" method="post" class="container">
        <input type="text" name="name" id="name" class="from-control mt-1" placeholder="Name"><br>
        <input name="price" id="price" class="from-control mt-1" placeholder="Price"><br>
        <textarea name="description" id="description" class="from-control mt-1" placeholder="Description"></textarea><br>
        <input type="submit" class="btn btn-success" value="Add">
    </form>
</div>
{% endblock body %}